body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    text-align: center;
}
.box{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: red;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 100px;
}
table{
    margin: auto;
    margin-top: 45px;
}
#player1{
    display: inline-block;
    width: 170px;
}
#player2{
    display: inline-block;
    width: 170px;
    margin-left: 100PX;
}
.back{
    background-color: beige;
}

@media only screen and (max-width:768px){
    .box{
        display: inline-block;
        width: 80px;
        height: 80px;
        background: red;
        margin: 5px;
        padding: 5px;
        text-align: center;
        font-size: 60px;
    }
    #player1{
        display: inline-block;
        width: 130px;
    }
    #player2{
        display: inline-block;
        width: 130px;
        margin-left: 40PX;
    }

}