* {
  user-select: none;
  color: white;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #0e5e78;
    text-align: center;
}
.split{
    display: flex;
    flex-direction: row;
}
.box{
    display: inline-block;
    margin: 5px;
    background: #2984ff;
    text-align: center;
    font-size: 80px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -3px 3px 2px 1px #001837;
    cursor: pointer;
    transition: all 0.3s ease;
}
.box:active{
    transform: scale(0.95);
}
.players{
    display: inline-block;
    width: 49%;
}
.left {
    width: 50%;
}
.right {
    width: 50%;
    font-size: 1.25rem;
}
#player{
    width: 100%;
}
#main{
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 8px 10px;
    background-color: #8ccaff;
    width: 350px;
    height: 350px;
    box-shadow: -13px 10px 0px 0px #001837;
    border-radius: 20px;
    margin-top: 20px;
}
.back{
    background-color: #0f102e;
    border-radius: 15px;
}
.outer{
    background-color: #2c36f5ed;
    border-radius: 100%;
    margin: 60px 0 0 30px;
    width: 480px;
    height: 480px;
    box-shadow: 0px 21px 0 0 #2c86ff, -20px 17px 0 0 #001837;
}
.disable{
    pointer-events: none;
  }
  .win{
    background-color: #A2FF86;
  }
  #btn {
    font-size: 40px;
    margin: 20px;
    background: #2984ff;
    border: 0.5px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn:active{
    transform: scale(0.95);
}
.tie{
    background-color: rgb(216, 71, 71);
}
.move{
    text-align: start;
}
.none{
    display: none;
}


@media only screen and (max-width:768px){
    .split{
        display: flex;
        flex-direction: column-reverse;
    }
    .right{
        width: 100%;
    }
    #ymove,#omove{
        display: inline-block;
        width: 49%;
    }
}