* {
  user-select: none;
  color: white;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url('back.jpg');
    text-align: center;
}

.split{
    display: inline-flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 20px;
    width: 90%;
    margin-top: 50px;
}
.box{
    display: inline-block;
    margin: 5px;
    background: #2984ff;
    text-align: center;
    font-size: 80px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -3px 3px 2px 1px #001837;
    cursor: pointer;
    transition: all 0.3s ease;
}
.box:active{
    transform: scale(0.95);
}
.players{
    display: inline-block;
    width: 49%;
}
.right {
    font-size: 1.25rem;
}
.left,.right{
    width: 50%;
    padding: 35px;
}
#player{
    width: 100%;
}
#main{
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 8px 10px;
    background-color: #8ccaff;
    width: 350px;
    height: 350px;
    box-shadow: -13px 10px 0px 0px #001837;
    border-radius: 20px;
    margin-top: 20px;
}
.back{
    background-color: #0f102e;
    border-radius: 15px;
}
.outer{
    background-color: #2c36f5ed;
    border-radius: 100%;
    margin: 60px 0 0 30px;
    width: 480px;
    height: 480px;
    box-shadow: 0px 21px 0 0 #2c86ff, -20px 17px 0 0 #001837;
}
.disable{
    pointer-events: none;
  }
  .win{
    background-color: #A2FF86;
  }
  .btn {
    font-size: 40px;
    margin: 20px;
    background: #2984ff;
    border: 0.5px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}
.btn:active{
    transform: scale(0.95);
    box-shadow: 2px 2px 2px black;
}
.tie{
    background-color: rgb(216, 71, 71);
}
.move{
    text-align: start;
}

.main{
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.tag {
    font-size: 3rem;
    text-shadow: 5px 5px 1px black;
    width: 50%;
}
#tic{
    color: #e1a82d;
}
#tac{
    color: aliceblue;
    
}
#toe{
    color: #00bea6;

}
.option{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p{
    border: 2px solid;
width: 60%;
font-size: 2.2rem;
background-color: #11213a;
border-radius: 15px;
padding: 30px;
cursor: pointer;
transition: all 0.3s ease;
}
.p:active{
    transform: scale(0.95);
}
a{
    text-decoration: none;
    color: inherit;
}
.none{
    display: none;
}





@media only screen and (max-width:768px){
    .split{
        display: inline-flex;
        flex-direction: column-reverse;
        box-shadow: none;
        background-color: none;  
        backdrop-filter: none;
        width: 600px;
    }
    .right{
        width: 100%;
    }
    #ymove,#omove{
        display: inline-block;
        width: 49%;
    }
    .main{
        width: 130%;
    }
    .none{
        display: none;
    }
}